<div class="form d-flex align-items-center justify-content-center">
  <fieldset>
    <legend class="p-2 text-info">Elige un nombre: </legend>

    <%= form_for @votacion do |f| %>
      <%= f.hidden_field :user_id, value: @usuario_actual.id %>
      <%= f.hidden_field :bebe_1_id, value: @bebe_1.id %>
      <%= f.hidden_field :bebe_2_id, value: @bebe_2.id %>


      <div class="w-100 p-5">
        <% [@bebe_1, @bebe_2].each do |bebe| %>

          <div class="a justify-content-between">
            <label for="vanilla" class="me-3 text-info"><%= bebe.nombre %></label>
            <%= f.radio_button :bebe_id, bebe.id, id: "bebe_#{bebe.id}", class: "nombre-radio" %>
          </div>

        <% end %>

        <%= f.submit "Votar", class: "btn btn-outline-info d-block mx-auto px-5" %>
      </div>
    <% end %>
  </fieldset>
</div>
